html,
body {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navigation-list li {
  font-weight: bold;
  list-style: none;
}

.navigation-list li a {
  text-decoration: none;
  color: #555;
}

.Logout-btn {
  position: absolute;
  top: 4%;
  right: 3%;
}